@model IEnumerable<datatables.Models.ObjectLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Locate</h2>

<div class="card">
    <div class="card-datatable table-responsive">
        <div id="location-table" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="card-header flex-column flex-md-row pb-0">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="head-label text-center">
                        <h5 class="card-title mb-0">Location DataTable</h5>
                    </div>
                    <div class="dt-action-buttons text-end pt-6 pt-md-0">
                        <div class="dt-buttons btn-group flex-wrap">
                            <div class="btn-group">
                                <div class="dropdown me-3">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Export
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li id="exportExcelBtn">
                                            <a class="dropdown-item" href="#">Export as XLSX</a>
                                        </li>
                                        <li id="exportWordBtn">
                                            <a class="dropdown-item" href="#">Export as DOCX</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <button id="addBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locationModal">
                                    <i class="fa-solid fa-plus me-2"></i> Add New Record
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="locationTable" class="table table-striped table-bordered table-hover display">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Tower</th>
                        <th>Street</th>
                        <th>District</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationModalLabel">Add/Edit Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="locationId" />
                <div class="mb-3">
                    <label for="locationTower" class="form-label">Tower</label>
                    <input type="text" class="form-control" id="locationTower" placeholder="Enter tower" />
                </div>
                <div class="mb-3">
                    <label for="locationStreet" class="form-label">Street</label>
                    <input type="text" class="form-control" id="locationStreet" placeholder="Enter street" />
                </div>
                <div class="mb-3">
                    <label for="locationDistrict" class="form-label">District</label>
                    <input type="text" class="form-control" id="locationDistrict" placeholder="Enter district" />
                </div>
                <div class="mb-3">
                    <label for="locationCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="locationCity" placeholder="Enter city" />
                </div>
                <div class="mb-3">
                    <label for="locationState" class="form-label">State</label>
                    <input type="text" class="form-control" id="locationState" placeholder="Enter state" />
                </div>
                <div class="mb-3">
                    <label for="locationCountry" class="form-label">Country</label>
                    <input type="text" class="form-control" id="locationCountry" placeholder="Enter country" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Processors/Location/Location.js"></script>
}

