@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-xxl-12 mb-6 order-0">
        <div class="card">
            <div class="d-flex align-items-start row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <h2>@ViewBag.Title.</h2>
                        <h3>@ViewBag.Message</h3>

                        <p>Use this area to provide additional information.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


